<!DOCTYPE html>
<html lang="en">

<head>
    <script>

        window.addEventListener('changeEvent', event => alert(
            `
                Event type: 'changeEvent'
                Field name: '${event.detail.name}'
                Field old value: '${event.detail.oldValue}'
                Field new value: '${event.detail.newValue}'
        `));

    </script>

</head>

<body>
    <gcs-star-rating id="sr1" name="name" size="large"></gcs-star-rating>
    <br />
    <gcs-star-rating id="sr2" name="name" value="Sarah"></gcs-star-rating>
</body>

</html>