<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <gcs-panel style="height: 400px;">
        <div slot="header">This is the title</div>
        <div slot="body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsam minima, eligendi asperiores ex necessitatibus praesentium, autem at ipsum aperiam ducimus dolore quod molestiae repellat doloribus, quos perferendis enim explicabo nisi?
        </div>
        <div slot="footer">Footer</div>
    </gcs-panel>
</body>

</html>