<!DOCTYPE html>
<html lang="en">

<head>

    <script>

        function getItemStyle() {

            return {
                listStyleType: 'circle'
            };
        }

        function getTemplate(record) {

            const {
                name,
                dateOfBirth,
                gender,
                reputation,
                description,
                avatar
            } = record;

            return html`<div style="width: 200px; border: thick double #7743DB;">       
                <div style="background-color: #FFEBD8;"> Full Name: ${name}</div>
                <div style="background-color: #E5D4FF;"> Date: ${new Date(dateOfBirth).toLocaleDateString(navigator.language)}</div>
                <div style="background-color: #C7DCA7;font-weight: bold;">Gender: ${gender.toUpperCase() }</div>
                <div style="background-color: #FFDFDF;font-weight: bold;">Reputation: ${reputation}</div>
                <div style="background-color: #F9F3CC;font-weight: bold;">Description: ${description}</div>
                <div style="background-color: #D2E9E9;font-weight: bold;">Avatar: <img src=${`data:image/gif;base64,${avatar.content}`}/></div>
            </div>`;
        }

        // Also possible for a quick setup but not complete
        //function getColumns() {

        //    return ['name', 'dateOfBirth', 'gender', 'reputation', 'description', 'avatar'];
        //}

        function getColumns() {

            return [   
                {
                    name: 'name',
                    display: 'Full Name',
                    sortable: true
                },
                {
                    name: 'dateOfBirth',
                    display: 'Date of Birth',
                    sortable: true,
                    render: value => new Date(value).toLocaleDateString(navigator.language)
                },
                {
                    name: 'gender',
                    display: 'Gender',
                    sortable: true,
                    render: value => value.toUpperCase()
                },
                {
                    name: 'reputation',
                    display: 'Reputation',
                    sortable: true
                },
                {
                    name: 'description',
                    display: 'Description',
                    sortable: true
                },
                {
                    name: 'avatar',
                    display: 'Avatar',
                    sortable: true,
                    render: value => html`<img src=${`data:image/gif;base64,${value.content}`} /></div>`
                }
            ];
        }

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

    </script>
</head>

<body>

    <h4>Data list</h4>
    <gcs-loader load-url="https://localhost:7000/api/contacts/">
        <gcs-data-list id-field="id" item-template="getTemplate()"
            selection-changed="showSelection()">
        </gcs-data-list>
    </gcs-loader>

    <h4>Data grid</h4>
    <gcs-loader load-url="https://localhost:7000/api/contacts/">
        <gcs-data-grid id-field="id" columns="getColumns()"></gcs-data-grid>
    </gcs-loader>

    <h4>Data template</h4>
    <gcs-loader load-url="https://localhost:7000/api/contacts/1">
        <gcs-data-template template="getTemplate()">
        </gcs-data-template>
    </gcs-loader>

    <h4>Navigation links</h4>
    <gcs-loader load-url="https://localhost:7000/api/applications/links" data-field="links">
        <gcs-nav-bar router-name="app">
        </gcs-nav-bar>
    </gcs-loader>

</body>

</html>