<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>

    <gcs-localized-text kind="secondary" size="large">Good Morning</gcs-localized-text>
    <br />
    <gcs-localized-text lang="fr" kind="secondary">Good Morning</gcs-localized-text>
    <br />
    <gcs-localized-text kind="info" style="color:orangered; font-size: 64px;">Buenos días in slot</gcs-localized-text>
    <br />
    <gcs-localized-text kind="warning">There is no translation for any language</gcs-localized-text>
    <br />
    <gcs-localized-text lang="it" kind="success">Good Morning</gcs-localized-text>
    <br />
    <gcs-localized-text lang="de" kind="danger" style="color:magenta; font-size: 2.5rem;">Good Morning</gcs-localized-text>
    <br />
    <gcs-localized-text>My text</gcs-localized-text>

</body>

</html>