<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../variables.css">

    <script src="./js/appConfig.js"></script>

    <script type="module" src="../../dist/js/bundle.js"></script>

    <title>Validation summary</title>

</head>

<body>
    <h4>Validation Summary</h4>
    <gcs-validation-summary size="small" warnings='["Warning 1", "Warning 2", "Warning 3"]'
        errors='["Error 1", "Error 2", "Error 3"]' />
</body>

</html>