<!DOCTYPE html>
<html lang="en">

<head>

    <script>

        function getData() {

            return [
                {
                    name: "Sarah",
                    age: 19,
                    description: 'Smart and beautiful'
                },
                {
                    name: "Mark",
                    age: 31,
                    description: 'Dedicated and perseverant'
                },
                {
                    name: "Sasha",
                    age: 1,
                    description: 'A little giant'
                }
            ];
        }

        function getTemplate(record, id) {

            const {
                name,
                age,
                description
            } = record;

            return html`
<gcs-selector key=${id} select-value=${record} style="width: 200px; padding: 5px;">
    <div>${name}</div>
    <div>${age}</div>
    <div style="font-weight: bold;">${description}</div>
</gcs-selector>`;
        }

        function getRowTemplate(record, id) {

            const {
                name,
                age,
                description
            } = record;

            return html`
<gcs-selector key=${id} select-value=${record} style="width: 600px; padding: 5px;">
    <span style="display: inline-block; width: 200px;">${name}</span>
    <span style="display: inline-block; width: 50px;">${age}</span>
    <span style="display: inline-block; font-weight: bold; width: 250px;">${description}</span>
</gcs-selector>`;
        }

        function getRemoteTemplate(record) {

            const {
                name,
                dateOfBirth,
                gender,
                reputation,
                description,
                avatar
            } = record;

            return html`<div style="width: 200px; border: thick double #7743DB;">       
                <div style="background-color: #FFEBD8;"> Full Name: ${name}</div>
                <div style="background-color: #E5D4FF;"> Date: ${new Date(dateOfBirth).toLocaleDateString(navigator.language)}</div>
                <div style="background-color: #C7DCA7;font-weight: bold;">Gender: ${gender.toUpperCase()}</div>
                <div style="background-color: #FFDFDF;font-weight: bold;">Reputation: ${reputation}</div>
                <div style="background-color: #F9F3CC;font-weight: bold;">Description: ${description}</div>
                <div style="background-color: #D2E9E9;font-weight: bold;">Avatar: <img src=${`data:image/gif;base64,${avatar.content}`}/></div>
            </div>`;
        }

        function showSelection(selection) {

            alert('Selection: ' + JSON.stringify(selection));
        }

    </script>

    <title>Data list demo</title>
</head>

<body>

    <h4>Single selection data set in attribute</h4>
    <gcs-data-list 
        data='[
            {
                "name": "Sarah",
                "age": 19,
                "description": "Smart and beautiful"
            },
            {
                "name": "Mark",
                "age": 31,
                "description": "Dedicated and perseverant"
            },
            {
                "name": "Sasha",
                "age": 1,
                "description": "A little giant"
            }
        ]' 
        id-field="name" 
        item-template="getRowTemplate()" 
        selection-changed="showSelection()"
    >
    </gcs-data-list>

    <h4>Single selection</h4>
    <gcs-data-list 
        id-field="name" 
        data='getData()' 
        item-template="getTemplate()" 
        selection-changed="showSelection()"
    >
    </gcs-data-list>

    <h4>Multiple selection</h4>
    <gcs-data-list 
        id-field="name" 
        data='getData()'
        multiple item-template="getTemplate()"
        selection-changed="showSelection()">
    </gcs-data-list>

    <h4>Data list remote loading</h4>
    <gcs-data-list
        load-url="https://localhost:7000/api/contacts/"
        id-field="id" item-template="getRemoteTemplate()"
        selection-changed="showSelection()"
    >
    </gcs-data-list>

</body>

</html>