/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin, padding, borders, etc */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	height: 100%;
	min-height: 100vh;
	text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/*
	--theme-color
	--theme-color-light
	--theme-color-dark
	--theme-color-primary-action-light
	--theme-color-primary-action-dark
	--theme-color-secondary-action-light
	--theme-color-secondary-action-dark
	--theme-color-surface-1
	--theme-color-surface-2
	--theme-color-surface-3
	--theme-color-text-1
	--theme-color-text-2

*/

:root {
	--gcs-font-family: Arial, Helvetica, sans-serif;
	/* Colors */
	--gcs-color-primary-dark: rgb(37, 68, 12);
	--gcs-overlay-bg-color: rgba(0, 0, 0, 0.3);
	--gcs-color-info: #1f87b8;
	--gcs-bg-color-info: #e6f7ff;
	--gcs-color-contained-info: rgb(37, 68, 12);
	--gcs-bg-color-contained-info: #26295c;
	--gcs-color-primary: #3880ff;
	--gcs-bg-color-primary: #e6f7ff;
	--gcs-color-contained-primary: #fff;
	--gcs-bg-color-contained-primary: #3880ff;
	--gcs-color-success: #009E52;
	--gcs-bg-color-success: #f6ffed;
	--gcs-color-contained-success: #fff;
	--gcs-bg-color-contained-success: #009E52;
	--gcs-color-warning: #ecbf09;
	--gcs-bg-color-warning: #fffbe6;
	--gcs-color-contained-warning: #000;
	--gcs-bg-color-contained-warning: yellow;
	--gcs-color-danger: #b12020;
	--gcs-bg-color-danger: #fff2f0;
	--gcs-color-contained-danger: white;
	--gcs-bg-color-contained-danger: crimson;
	--gcs-bg-color-secondary: #0cd1e8;
	--gcs-color-secondary: #032517;
	--gcs-color-contained-secondary: #fff;
	--gcs-bg-color-contained-secondary: #e8c00c;
	--gcs-bg-color-tertiary: #f4a942;
	--gcs-color-tertiary: #b446b4;
	--gcs-disabled-bg-color: lightgray;
	--gcs-disabled-color: darkgray;
	/* Hoverable */
	--gcs-hoverable-bg-color: rgb(211, 227, 233);
	--gcs-hoverable-color: black;
	/* Tooltip*/
	--gcs-tooltip-bg-color: #555;
	--gcs-tooltip-color: rgb(211, 227, 233);
	/*
    
    --gcs-color-light: #f4f5f8;
    --gcs-color-medium: #989aa2;
    --gcs-color-dark: #222428;

    --gcs-bg-color:#fff;

    --gcs-selected-bg-color:#8ebeba;
    --gcs-selected-color: gold;

    --gcs-bg-color-primary-3: #1d62d8;

    */
	/* Font sizes */
	--gcs-font-size: 1.4rem;
	/* Icon sizes */
	--gcs-icon-size-large: 2.048rem;
	--gcs-icon-size-medium: 1.28rem;
	--gcs-icon-size-small: .8rem;
	/* Border */
	--gcs-border-width: .1em;
	--gcs-border-radius: 0.5rem;
	/* Min height */
	--gcs-min-height: 1.2em;
	/* Margin */
	--gcs-margin: .25em;
	/* Padding */
	--gcs-padding: .25em;
}

body {
	font-family: var(--gcs-font-family);
	font-size: var(--gcs-font-size);
	background-color: var(--bg-color);
	color: var(--gcs-color-primary-1);
}
