<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Navigation Link</title>

</head>

<body>

    <h4>Statically configured links</h4>
    <div>
        <gcs-nav-link to="/home">Home</gcs-nav-link>
        <gcs-nav-link to="/about">About</gcs-nav-link>
    </div>

    <h4>Dynamically configured links</h4>
    <gcs-nav-bar
        style="max-height: 60px;"
        load-url="https://localhost:7000/api/applications/links"
        router-name="app"
    >
    </gcs-nav-bar>


</body>

</html>