[theme="0-light"] {
    --text-color: hsl(0, 50%, 10%);
    --bg-color: hsl(0, 50%, 95%);
    --alt-bg-color: hsl(0, 50%, 90%);
    --header-text-color: hsl(0, 50%, 95%);
    --header-bg-color: hsl(0, 50%, 40%);
    --hover-text-color: hsl(0, 50%, 25%);
    --hover-bg-color: hsl(0, 50%, 85%);
    --active-text-color: hsl(180, 50%, 25%);
    --active-bg-color: hsl(180, 50%, 85%);
    --active-hover-text-color: hsl(180, 50%, 95%);
    --active-hover-bg-color: hsl(180, 50%, 30%);
    --surface-shadow: hsl(0, 50%, 20%);
    --shadow-strength: .2;
}

[theme="0-dark"] {
    --text-color: hsl(0, 50%, 90%);
    --bg-color: hsl(0, 50%, 5%);
    --alt-bg-color: hsl(0, 50%, 15%);
    --header-text-color: hsl(0, 50%, 10%);
    --header-bg-color: hsl(0, 50%, 85%);
    --hover-text-color: hsl(0, 50%, 85%);
    --hover-bg-color: hsl(0, 50%, 25%);
    --active-text-color: hsl(180, 50%, 90%);
    --active-bg-color: hsl(180, 50%, 25%);
    --active-hover-text-color: hsl(180, 50%, 10%);
    --active-hover-bg-color: hsl(180, 50%, 85%);
    --surface-shadow: hsl(0, 50%, 30%);
    --shadow-strength: .8;
}

[theme="30-light"] {
    --text-color: hsl(30, 50%, 10%);
    --bg-color: hsl(30, 50%, 95%);
    --alt-bg-color: hsl(30, 50%, 90%);
    --header-text-color: hsl(30, 50%, 95%);
    --header-bg-color: hsl(30, 50%, 40%);
    --hover-text-color: hsl(30, 50%, 25%);
    --hover-bg-color: hsl(30, 50%, 85%);
    --active-text-color: hsl(210, 50%, 25%);
    --active-bg-color: hsl(210, 50%, 85%);
    --active-hover-text-color: hsl(210, 50%, 95%);
    --active-hover-bg-color: hsl(210, 50%, 30%);
    --surface-shadow: hsl(30, 50%, 20%);
    --shadow-strength: .2;
}

[theme="30-dark"] {
    --text-color: hsl(30, 50%, 90%);
    --bg-color: hsl(30, 50%, 5%);
    --alt-bg-color: hsl(30, 50%, 15%);
    --header-text-color: hsl(30, 50%, 10%);
    --header-bg-color: hsl(30, 50%, 85%);
    --hover-text-color: hsl(30, 50%, 85%);
    --hover-bg-color: hsl(30, 50%, 25%);
    --active-text-color: hsl(210, 50%, 90%);
    --active-bg-color: hsl(210, 50%, 25%);
    --active-hover-text-color: hsl(210, 50%, 10%);
    --active-hover-bg-color: hsl(210, 50%, 85%);
    --surface-shadow: hsl(30, 50%, 30%);
    --shadow-strength: .8;
}

[theme="60-light"] {
    --text-color: hsl(60, 50%, 10%);
    --bg-color: hsl(60, 50%, 95%);
    --alt-bg-color: hsl(60, 50%, 90%);
    --header-text-color: hsl(60, 50%, 95%);
    --header-bg-color: hsl(60, 50%, 40%);
    --hover-text-color: hsl(60, 50%, 25%);
    --hover-bg-color: hsl(60, 50%, 85%);
    --active-text-color: hsl(240, 50%, 25%);
    --active-bg-color: hsl(240, 50%, 85%);
    --active-hover-text-color: hsl(240, 50%, 95%);
    --active-hover-bg-color: hsl(240, 50%, 30%);
    --surface-shadow: hsl(60, 50%, 20%);
    --shadow-strength: .2;
}

[theme="60-dark"] {
    --text-color: hsl(60, 50%, 90%);
    --bg-color: hsl(60, 50%, 5%);
    --alt-bg-color: hsl(60, 50%, 15%);
    --header-text-color: hsl(60, 50%, 10%);
    --header-bg-color: hsl(60, 50%, 85%);
    --hover-text-color: hsl(60, 50%, 85%);
    --hover-bg-color: hsl(60, 50%, 25%);
    --active-text-color: hsl(240, 50%, 90%);
    --active-bg-color: hsl(240, 50%, 25%);
    --active-hover-text-color: hsl(240, 50%, 10%);
    --active-hover-bg-color: hsl(240, 50%, 85%);
    --surface-shadow: hsl(60, 50%, 30%);
    --shadow-strength: .8;
}

[theme="90-light"] {
    --text-color: hsl(90, 50%, 10%);
    --bg-color: hsl(90, 50%, 95%);
    --alt-bg-color: hsl(90, 50%, 90%);
    --header-text-color: hsl(90, 50%, 95%);
    --header-bg-color: hsl(90, 50%, 40%);
    --hover-text-color: hsl(90, 50%, 25%);
    --hover-bg-color: hsl(90, 50%, 85%);
    --active-text-color: hsl(270, 50%, 25%);
    --active-bg-color: hsl(270, 50%, 85%);
    --active-hover-text-color: hsl(270, 50%, 95%);
    --active-hover-bg-color: hsl(270, 50%, 30%);
    --surface-shadow: hsl(90, 50%, 20%);
    --shadow-strength: .2;
}

[theme="90-dark"] {
    --text-color: hsl(90, 50%, 90%);
    --bg-color: hsl(90, 50%, 5%);
    --alt-bg-color: hsl(90, 50%, 15%);
    --header-text-color: hsl(90, 50%, 10%);
    --header-bg-color: hsl(90, 50%, 85%);
    --hover-text-color: hsl(90, 50%, 85%);
    --hover-bg-color: hsl(90, 50%, 25%);
    --active-text-color: hsl(270, 50%, 90%);
    --active-bg-color: hsl(270, 50%, 25%);
    --active-hover-text-color: hsl(270, 50%, 10%);
    --active-hover-bg-color: hsl(270, 50%, 85%);
    --surface-shadow: hsl(90, 50%, 30%);
    --shadow-strength: .8;
}

[theme="120-light"] {
    --text-color: hsl(120, 50%, 10%);
    --bg-color: hsl(120, 50%, 95%);
    --alt-bg-color: hsl(120, 50%, 90%);
    --header-text-color: hsl(120, 50%, 95%);
    --header-bg-color: hsl(120, 50%, 40%);
    --hover-text-color: hsl(120, 50%, 25%);
    --hover-bg-color: hsl(120, 50%, 85%);
    --active-text-color: hsl(300, 50%, 25%);
    --active-bg-color: hsl(300, 50%, 85%);
    --active-hover-text-color: hsl(300, 50%, 95%);
    --active-hover-bg-color: hsl(300, 50%, 30%);
    --surface-shadow: hsl(120, 50%, 20%);
    --shadow-strength: .2;
}

[theme="120-dark"] {
    --text-color: hsl(120, 50%, 90%);
    --bg-color: hsl(120, 50%, 5%);
    --alt-bg-color: hsl(120, 50%, 15%);
    --header-text-color: hsl(120, 50%, 10%);
    --header-bg-color: hsl(120, 50%, 85%);
    --hover-text-color: hsl(120, 50%, 85%);
    --hover-bg-color: hsl(120, 50%, 25%);
    --active-text-color: hsl(300, 50%, 90%);
    --active-bg-color: hsl(300, 50%, 25%);
    --active-hover-text-color: hsl(300, 50%, 10%);
    --active-hover-bg-color: hsl(300, 50%, 85%);
    --surface-shadow: hsl(120, 50%, 30%);
    --shadow-strength: .8;
}

[theme="150-light"] {
    --text-color: hsl(150, 50%, 10%);
    --bg-color: hsl(150, 50%, 95%);
    --alt-bg-color: hsl(150, 50%, 90%);
    --header-text-color: hsl(150, 50%, 95%);
    --header-bg-color: hsl(150, 50%, 40%);
    --hover-text-color: hsl(150, 50%, 25%);
    --hover-bg-color: hsl(150, 50%, 85%);
    --active-text-color: hsl(330, 50%, 25%);
    --active-bg-color: hsl(330, 50%, 85%);
    --active-hover-text-color: hsl(330, 50%, 95%);
    --active-hover-bg-color: hsl(330, 50%, 30%);
    --surface-shadow: hsl(150, 50%, 20%);
    --shadow-strength: .2;
}

[theme="150-dark"] {
    --text-color: hsl(150, 50%, 90%);
    --bg-color: hsl(150, 50%, 5%);
    --alt-bg-color: hsl(150, 50%, 15%);
    --header-text-color: hsl(150, 50%, 10%);
    --header-bg-color: hsl(150, 50%, 85%);
    --hover-text-color: hsl(150, 50%, 85%);
    --hover-bg-color: hsl(150, 50%, 25%);
    --active-text-color: hsl(330, 50%, 90%);
    --active-bg-color: hsl(330, 50%, 25%);
    --active-hover-text-color: hsl(330, 50%, 10%);
    --active-hover-bg-color: hsl(330, 50%, 85%);
    --surface-shadow: hsl(150, 50%, 30%);
    --shadow-strength: .8;
}

[theme="180-light"] {
    --text-color: hsl(180, 50%, 10%);
    --bg-color: hsl(180, 50%, 95%);
    --alt-bg-color: hsl(180, 50%, 90%);
    --header-text-color: hsl(180, 50%, 95%);
    --header-bg-color: hsl(180, 50%, 40%);
    --hover-text-color: hsl(180, 50%, 25%);
    --hover-bg-color: hsl(180, 50%, 85%);
    --active-text-color: hsl(360, 50%, 25%);
    --active-bg-color: hsl(360, 50%, 85%);
    --active-hover-text-color: hsl(360, 50%, 95%);
    --active-hover-bg-color: hsl(360, 50%, 30%);
    --surface-shadow: hsl(180, 50%, 20%);
    --shadow-strength: .2;
}

[theme="180-dark"] {
    --text-color: hsl(180, 50%, 90%);
    --bg-color: hsl(180, 50%, 5%);
    --alt-bg-color: hsl(180, 50%, 15%);
    --header-text-color: hsl(180, 50%, 10%);
    --header-bg-color: hsl(180, 50%, 85%);
    --hover-text-color: hsl(180, 50%, 85%);
    --hover-bg-color: hsl(180, 50%, 25%);
    --active-text-color: hsl(360, 50%, 90%);
    --active-bg-color: hsl(360, 50%, 25%);
    --active-hover-text-color: hsl(360, 50%, 10%);
    --active-hover-bg-color: hsl(360, 50%, 85%);
    --surface-shadow: hsl(180, 50%, 30%);
    --shadow-strength: .8;
}

[theme="210-light"] {
    --text-color: hsl(210, 50%, 10%);
    --bg-color: hsl(210, 50%, 95%);
    --alt-bg-color: hsl(210, 50%, 90%);
    --header-text-color: hsl(210, 50%, 95%);
    --header-bg-color: hsl(210, 50%, 40%);
    --hover-text-color: hsl(210, 50%, 25%);
    --hover-bg-color: hsl(210, 50%, 85%);
    --active-text-color: hsl(390, 50%, 25%);
    --active-bg-color: hsl(390, 50%, 85%);
    --active-hover-text-color: hsl(390, 50%, 95%);
    --active-hover-bg-color: hsl(390, 50%, 30%);
    --surface-shadow: hsl(210, 50%, 20%);
    --shadow-strength: .2;
}

[theme="210-dark"] {
    --text-color: hsl(210, 50%, 90%);
    --bg-color: hsl(210, 50%, 5%);
    --alt-bg-color: hsl(210, 50%, 15%);
    --header-text-color: hsl(210, 50%, 10%);
    --header-bg-color: hsl(210, 50%, 85%);
    --hover-text-color: hsl(210, 50%, 85%);
    --hover-bg-color: hsl(210, 50%, 25%);
    --active-text-color: hsl(390, 50%, 90%);
    --active-bg-color: hsl(390, 50%, 25%);
    --active-hover-text-color: hsl(390, 50%, 10%);
    --active-hover-bg-color: hsl(390, 50%, 85%);
    --surface-shadow: hsl(210, 50%, 30%);
    --shadow-strength: .8;
}

[theme="240-light"] {
    --text-color: hsl(240, 50%, 10%);
    --bg-color: hsl(240, 50%, 95%);
    --alt-bg-color: hsl(240, 50%, 90%);
    --header-text-color: hsl(240, 50%, 95%);
    --header-bg-color: hsl(240, 50%, 40%);
    --hover-text-color: hsl(240, 50%, 25%);
    --hover-bg-color: hsl(240, 50%, 85%);
    --active-text-color: hsl(420, 50%, 25%);
    --active-bg-color: hsl(420, 50%, 85%);
    --active-hover-text-color: hsl(420, 50%, 95%);
    --active-hover-bg-color: hsl(420, 50%, 30%);
    --surface-shadow: hsl(240, 50%, 20%);
    --shadow-strength: .2;
}

[theme="240-dark"] {
    --text-color: hsl(240, 50%, 90%);
    --bg-color: hsl(240, 50%, 5%);
    --alt-bg-color: hsl(240, 50%, 15%);
    --header-text-color: hsl(240, 50%, 10%);
    --header-bg-color: hsl(240, 50%, 85%);
    --hover-text-color: hsl(240, 50%, 85%);
    --hover-bg-color: hsl(240, 50%, 25%);
    --active-text-color: hsl(420, 50%, 90%);
    --active-bg-color: hsl(420, 50%, 25%);
    --active-hover-text-color: hsl(420, 50%, 10%);
    --active-hover-bg-color: hsl(420, 50%, 85%);
    --surface-shadow: hsl(240, 50%, 30%);
    --shadow-strength: .8;
}

[theme="270-light"] {
    --text-color: hsl(270, 50%, 10%);
    --bg-color: hsl(270, 50%, 95%);
    --alt-bg-color: hsl(270, 50%, 90%);
    --header-text-color: hsl(270, 50%, 95%);
    --header-bg-color: hsl(270, 50%, 40%);
    --hover-text-color: hsl(270, 50%, 25%);
    --hover-bg-color: hsl(270, 50%, 85%);
    --active-text-color: hsl(450, 50%, 25%);
    --active-bg-color: hsl(450, 50%, 85%);
    --active-hover-text-color: hsl(450, 50%, 95%);
    --active-hover-bg-color: hsl(450, 50%, 30%);
    --surface-shadow: hsl(270, 50%, 20%);
    --shadow-strength: .2;
}

[theme="270-dark"] {
    --text-color: hsl(270, 50%, 90%);
    --bg-color: hsl(270, 50%, 5%);
    --alt-bg-color: hsl(270, 50%, 15%);
    --header-text-color: hsl(270, 50%, 10%);
    --header-bg-color: hsl(270, 50%, 85%);
    --hover-text-color: hsl(270, 50%, 85%);
    --hover-bg-color: hsl(270, 50%, 25%);
    --active-text-color: hsl(450, 50%, 90%);
    --active-bg-color: hsl(450, 50%, 25%);
    --active-hover-text-color: hsl(450, 50%, 10%);
    --active-hover-bg-color: hsl(450, 50%, 85%);
    --surface-shadow: hsl(270, 50%, 30%);
    --shadow-strength: .8;
}

[theme="300-light"] {
    --text-color: hsl(300, 50%, 10%);
    --bg-color: hsl(300, 50%, 95%);
    --alt-bg-color: hsl(300, 50%, 90%);
    --header-text-color: hsl(300, 50%, 95%);
    --header-bg-color: hsl(300, 50%, 40%);
    --hover-text-color: hsl(300, 50%, 25%);
    --hover-bg-color: hsl(300, 50%, 85%);
    --active-text-color: hsl(480, 50%, 25%);
    --active-bg-color: hsl(480, 50%, 85%);
    --active-hover-text-color: hsl(480, 50%, 95%);
    --active-hover-bg-color: hsl(480, 50%, 30%);
    --surface-shadow: hsl(300, 50%, 20%);
    --shadow-strength: .2;
}

[theme="300-dark"] {
    --text-color: hsl(300, 50%, 90%);
    --bg-color: hsl(300, 50%, 5%);
    --alt-bg-color: hsl(300, 50%, 15%);
    --header-text-color: hsl(300, 50%, 10%);
    --header-bg-color: hsl(300, 50%, 85%);
    --hover-text-color: hsl(300, 50%, 85%);
    --hover-bg-color: hsl(300, 50%, 25%);
    --active-text-color: hsl(480, 50%, 90%);
    --active-bg-color: hsl(480, 50%, 25%);
    --active-hover-text-color: hsl(480, 50%, 10%);
    --active-hover-bg-color: hsl(480, 50%, 85%);
    --surface-shadow: hsl(300, 50%, 30%);
    --shadow-strength: .8;
}

[theme="330-light"] {
    --text-color: hsl(330, 50%, 10%);
    --bg-color: hsl(330, 50%, 95%);
    --alt-bg-color: hsl(330, 50%, 90%);
    --header-text-color: hsl(330, 50%, 95%);
    --header-bg-color: hsl(330, 50%, 40%);
    --hover-text-color: hsl(330, 50%, 25%);
    --hover-bg-color: hsl(330, 50%, 85%);
    --active-text-color: hsl(510, 50%, 25%);
    --active-bg-color: hsl(510, 50%, 85%);
    --active-hover-text-color: hsl(510, 50%, 95%);
    --active-hover-bg-color: hsl(510, 50%, 30%);
    --surface-shadow: hsl(330, 50%, 20%);
    --shadow-strength: .2;
}

[theme="330-dark"] {
    --text-color: hsl(330, 50%, 90%);
    --bg-color: hsl(330, 50%, 5%);
    --alt-bg-color: hsl(330, 50%, 15%);
    --header-text-color: hsl(330, 50%, 10%);
    --header-bg-color: hsl(330, 50%, 85%);
    --hover-text-color: hsl(330, 50%, 85%);
    --hover-bg-color: hsl(330, 50%, 25%);
    --active-text-color: hsl(510, 50%, 90%);
    --active-bg-color: hsl(510, 50%, 25%);
    --active-hover-text-color: hsl(510, 50%, 10%);
    --active-hover-bg-color: hsl(510, 50%, 85%);
    --surface-shadow: hsl(330, 50%, 30%);
    --shadow-strength: .8;
}
