[theme="red-light"] {
    --gcs-color-primary-1: hsl(0, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(0, 60%, 95%);
    --gcs-color-primary-2: hsl(0, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(0, 60%, 80%);
    --gcs-color-primary-3: hsl(0, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(0, 60%, 20%);
    --gcs-color-secondary-1: hsl(120, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(120, 60%, 95%);
    --gcs-color-secondary-2: hsl(120, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(120, 60%, 80%);
    --gcs-color-tertiary-1: hsl(240, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(240, 60%, 40%);
}

[theme="red-dark"] {
    --gcs-color-primary-1: hsl(0, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(0, 40%, 10%);
    --gcs-color-primary-2: hsl(0, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(0, 40%, 40%);
    --gcs-color-primary-3: hsl(0, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(0, 40%, 75%);
    --gcs-color-secondary-1: hsl(120, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(120, 40%, 10%);
    --gcs-color-secondary-2: hsl(120, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(120, 40%, 40%);
    --gcs-color-tertiary-1: hsl(240, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(240, 40%, 70%);
}

[theme="orange-light"] {
    --gcs-color-primary-1: hsl(30, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(30, 60%, 95%);
    --gcs-color-primary-2: hsl(30, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(30, 60%, 80%);
    --gcs-color-primary-3: hsl(30, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(30, 60%, 20%);
    --gcs-color-secondary-1: hsl(150, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(150, 60%, 95%);
    --gcs-color-secondary-2: hsl(150, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(150, 60%, 80%);
    --gcs-color-tertiary-1: hsl(270, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(270, 60%, 40%);
}

[theme="orange-dark"] {
    --gcs-color-primary-1: hsl(30, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(30, 40%, 10%);
    --gcs-color-primary-2: hsl(30, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(30, 40%, 40%);
    --gcs-color-primary-3: hsl(30, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(30, 40%, 75%);
    --gcs-color-secondary-1: hsl(150, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(150, 40%, 10%);
    --gcs-color-secondary-2: hsl(150, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(150, 40%, 40%);
    --gcs-color-tertiary-1: hsl(270, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(270, 40%, 70%);
}

[theme="yellow-light"] {
    --gcs-color-primary-1: hsl(60, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(60, 60%, 95%);
    --gcs-color-primary-2: hsl(60, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(60, 60%, 80%);
    --gcs-color-primary-3: hsl(60, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(60, 60%, 20%);
    --gcs-color-secondary-1: hsl(180, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(180, 60%, 95%);
    --gcs-color-secondary-2: hsl(180, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(180, 60%, 80%);
    --gcs-color-tertiary-1: hsl(300, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(300, 60%, 40%);
}

[theme="yellow-dark"] {
    --gcs-color-primary-1: hsl(60, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(60, 40%, 10%);
    --gcs-color-primary-2: hsl(60, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(60, 40%, 40%);
    --gcs-color-primary-3: hsl(60, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(60, 40%, 75%);
    --gcs-color-secondary-1: hsl(180, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(180, 40%, 10%);
    --gcs-color-secondary-2: hsl(180, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(180, 40%, 40%);
    --gcs-color-tertiary-1: hsl(300, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(300, 40%, 70%);
}

[theme="yellow-green-light"] {
    --gcs-color-primary-1: hsl(90, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(90, 60%, 95%);
    --gcs-color-primary-2: hsl(90, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(90, 60%, 80%);
    --gcs-color-primary-3: hsl(90, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(90, 60%, 20%);
    --gcs-color-secondary-1: hsl(210, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(210, 60%, 95%);
    --gcs-color-secondary-2: hsl(210, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(210, 60%, 80%);
    --gcs-color-tertiary-1: hsl(330, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(330, 60%, 40%);
}

[theme="yellow-green-dark"] {
    --gcs-color-primary-1: hsl(90, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(90, 40%, 10%);
    --gcs-color-primary-2: hsl(90, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(90, 40%, 40%);
    --gcs-color-primary-3: hsl(90, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(90, 40%, 75%);
    --gcs-color-secondary-1: hsl(210, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(210, 40%, 10%);
    --gcs-color-secondary-2: hsl(210, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(210, 40%, 40%);
    --gcs-color-tertiary-1: hsl(330, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(330, 40%, 70%);
}

[theme="green-light"] {
    --gcs-color-primary-1: hsl(120, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(120, 60%, 95%);
    --gcs-color-primary-2: hsl(120, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(120, 60%, 80%);
    --gcs-color-primary-3: hsl(120, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(120, 60%, 20%);
    --gcs-color-secondary-1: hsl(240, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(240, 60%, 95%);
    --gcs-color-secondary-2: hsl(240, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(240, 60%, 80%);
    --gcs-color-tertiary-1: hsl(0, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(0, 60%, 40%);
}

[theme="green-dark"] {
    --gcs-color-primary-1: hsl(120, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(120, 40%, 10%);
    --gcs-color-primary-2: hsl(120, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(120, 40%, 40%);
    --gcs-color-primary-3: hsl(120, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(120, 40%, 75%);
    --gcs-color-secondary-1: hsl(240, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(240, 40%, 10%);
    --gcs-color-secondary-2: hsl(240, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(240, 40%, 40%);
    --gcs-color-tertiary-1: hsl(0, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(0, 40%, 70%);
}

[theme="blue-green-light"] {
    --gcs-color-primary-1: hsl(150, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(150, 60%, 95%);
    --gcs-color-primary-2: hsl(150, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(150, 60%, 80%);
    --gcs-color-primary-3: hsl(150, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(150, 60%, 20%);
    --gcs-color-secondary-1: hsl(270, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(270, 60%, 95%);
    --gcs-color-secondary-2: hsl(270, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(270, 60%, 80%);
    --gcs-color-tertiary-1: hsl(30, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(30, 60%, 40%);
}

[theme="blue-green-dark"] {
    --gcs-color-primary-1: hsl(150, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(150, 40%, 10%);
    --gcs-color-primary-2: hsl(150, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(150, 40%, 40%);
    --gcs-color-primary-3: hsl(150, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(150, 40%, 75%);
    --gcs-color-secondary-1: hsl(270, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(270, 40%, 10%);
    --gcs-color-secondary-2: hsl(270, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(270, 40%, 40%);
    --gcs-color-tertiary-1: hsl(30, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(30, 40%, 70%);
}

[theme="cyan-light"] {
    --gcs-color-primary-1: hsl(180, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(180, 60%, 95%);
    --gcs-color-primary-2: hsl(180, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(180, 60%, 80%);
    --gcs-color-primary-3: hsl(180, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(180, 60%, 20%);
    --gcs-color-secondary-1: hsl(300, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(300, 60%, 95%);
    --gcs-color-secondary-2: hsl(300, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(300, 60%, 80%);
    --gcs-color-tertiary-1: hsl(60, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(60, 60%, 40%);
}

[theme="cyan-dark"] {
    --gcs-color-primary-1: hsl(180, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(180, 40%, 10%);
    --gcs-color-primary-2: hsl(180, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(180, 40%, 40%);
    --gcs-color-primary-3: hsl(180, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(180, 40%, 75%);
    --gcs-color-secondary-1: hsl(300, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(300, 40%, 10%);
    --gcs-color-secondary-2: hsl(300, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(300, 40%, 40%);
    --gcs-color-tertiary-1: hsl(60, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(60, 40%, 70%);
}

[theme="blue-light"] {
    --gcs-color-primary-1: hsl(210, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(210, 60%, 95%);
    --gcs-color-primary-2: hsl(210, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(210, 60%, 80%);
    --gcs-color-primary-3: hsl(210, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(210, 60%, 20%);
    --gcs-color-secondary-1: hsl(330, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(330, 60%, 95%);
    --gcs-color-secondary-2: hsl(330, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(330, 60%, 80%);
    --gcs-color-tertiary-1: hsl(90, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(90, 60%, 40%);
}

[theme="blue-dark"] {
    --gcs-color-primary-1: hsl(210, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(210, 40%, 10%);
    --gcs-color-primary-2: hsl(210, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(210, 40%, 40%);
    --gcs-color-primary-3: hsl(210, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(210, 40%, 75%);
    --gcs-color-secondary-1: hsl(330, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(330, 40%, 10%);
    --gcs-color-secondary-2: hsl(330, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(330, 40%, 40%);
    --gcs-color-tertiary-1: hsl(90, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(90, 40%, 70%);
}

[theme="blue-purple-light"] {
    --gcs-color-primary-1: hsl(240, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(240, 60%, 95%);
    --gcs-color-primary-2: hsl(240, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(240, 60%, 80%);
    --gcs-color-primary-3: hsl(240, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(240, 60%, 20%);
    --gcs-color-secondary-1: hsl(0, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(0, 60%, 95%);
    --gcs-color-secondary-2: hsl(0, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(0, 60%, 80%);
    --gcs-color-tertiary-1: hsl(120, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(120, 60%, 40%);
}

[theme="blue-purple-dark"] {
    --gcs-color-primary-1: hsl(240, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(240, 40%, 10%);
    --gcs-color-primary-2: hsl(240, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(240, 40%, 40%);
    --gcs-color-primary-3: hsl(240, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(240, 40%, 75%);
    --gcs-color-secondary-1: hsl(0, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(0, 40%, 10%);
    --gcs-color-secondary-2: hsl(0, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(0, 40%, 40%);
    --gcs-color-tertiary-1: hsl(120, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(120, 40%, 70%);
}

[theme="purple-light"] {
    --gcs-color-primary-1: hsl(270, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(270, 60%, 95%);
    --gcs-color-primary-2: hsl(270, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(270, 60%, 80%);
    --gcs-color-primary-3: hsl(270, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(270, 60%, 20%);
    --gcs-color-secondary-1: hsl(30, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(30, 60%, 95%);
    --gcs-color-secondary-2: hsl(30, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(30, 60%, 80%);
    --gcs-color-tertiary-1: hsl(150, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(150, 60%, 40%);
}

[theme="purple-dark"] {
    --gcs-color-primary-1: hsl(270, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(270, 40%, 10%);
    --gcs-color-primary-2: hsl(270, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(270, 40%, 40%);
    --gcs-color-primary-3: hsl(270, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(270, 40%, 75%);
    --gcs-color-secondary-1: hsl(30, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(30, 40%, 10%);
    --gcs-color-secondary-2: hsl(30, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(30, 40%, 40%);
    --gcs-color-tertiary-1: hsl(150, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(150, 40%, 70%);
}

[theme="magenta-light"] {
    --gcs-color-primary-1: hsl(300, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(300, 60%, 95%);
    --gcs-color-primary-2: hsl(300, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(300, 60%, 80%);
    --gcs-color-primary-3: hsl(300, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(300, 60%, 20%);
    --gcs-color-secondary-1: hsl(60, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(60, 60%, 95%);
    --gcs-color-secondary-2: hsl(60, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(60, 60%, 80%);
    --gcs-color-tertiary-1: hsl(180, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(180, 60%, 40%);
}

[theme="magenta-dark"] {
    --gcs-color-primary-1: hsl(300, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(300, 40%, 10%);
    --gcs-color-primary-2: hsl(300, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(300, 40%, 40%);
    --gcs-color-primary-3: hsl(300, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(300, 40%, 75%);
    --gcs-color-secondary-1: hsl(60, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(60, 40%, 10%);
    --gcs-color-secondary-2: hsl(60, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(60, 40%, 40%);
    --gcs-color-tertiary-1: hsl(180, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(180, 40%, 70%);
}

[theme="red-magenta-light"] {
    --gcs-color-primary-1: hsl(330, 60%, 20%);
    --gcs-bg-color-primary-1: hsl(330, 60%, 95%);
    --gcs-color-primary-2: hsl(330, 60%, 20%);
    --gcs-bg-color-primary-2: hsl(330, 60%, 80%);
    --gcs-color-primary-3: hsl(330, 60%, 95%);
    --gcs-bg-color-primary-3: hsl(330, 60%, 20%);
    --gcs-color-secondary-1: hsl(90, 60%, 20%);
    --gcs-bg-color-secondary-1: hsl(90, 60%, 95%);
    --gcs-color-secondary-2: hsl(90, 60%, 20%);
    --gcs-bg-color-secondary-2: hsl(90, 60%, 80%);
    --gcs-color-tertiary-1: hsl(210, 60%, 95%);
    --gcs-bg-color-tertiary-1: hsl(210, 60%, 40%);
}

[theme="red-magenta-dark"] {
    --gcs-color-primary-1: hsl(330, 40%, 75%);
    --gcs-bg-color-primary-1: hsl(330, 40%, 10%);
    --gcs-color-primary-2: hsl(330, 40%, 75%);
    --gcs-bg-color-primary-2: hsl(330, 40%, 40%);
    --gcs-color-primary-3: hsl(330, 40%, 10%);
    --gcs-bg-color-primary-3: hsl(330, 40%, 75%);
    --gcs-color-secondary-1: hsl(90, 40%, 75%);
    --gcs-bg-color-secondary-1: hsl(90, 40%, 10%);
    --gcs-color-secondary-2: hsl(90, 40%, 75%);
    --gcs-bg-color-secondary-2: hsl(90, 40%, 40%);
    --gcs-color-tertiary-1: hsl(210, 40%, 10%);
    --gcs-bg-color-tertiary-1: hsl(210, 40%, 70%);
}

